%header{:class=>"header"}
  .logo
    %img{:class=> "image-logo"}
    %span{:class=>"company-name"} Fylo
    %nav
      %ul
        %li{:class=>"nav-item"} Features
        %li{:class=>"nav-item"} Team
        %li{:class=>"nav-item"} Sign In
.hero
  .left
    %h1
    %p
      %form{:class=>"form-email"}
      %input{:type=>"email"}
      %button{:type=>"submit"} Get Started
  .right
    %img
.center
  .left
    %h1
    %p
    %a{:class=>"link"}
    .card
      %p
      .profile
        .img{:class=>"profile-photo"}
        %div
          .name Kyle Burton
          .job Founder & CEO, Huddle
  .right
    %img
.early-access
  .left
    %h1
    %p
  .right
    .form-early-access
      %input{:type=>"text"}
      %button Get Started For Free
%footer
  .left
    .logo
      %img
      %span{:class=>"company-name"}Fylo
    .phone
      %img
      Phone:+
    .email
      %email
  %ul{:class=>"middle"}
    %li
    %li
    %li
  %ul{:class=>"right"}
    %li
    %li
    %li
  %ul{:class=>"social-network"}
    %li
    %li

